<%- include("partials/header") %> 

<div class="container">
    <h1><i class="fas fa-campground"></i> This is the campgrounds page <i class="fas fa-campground"></i></h1>
    <a href="/campgrounds/new">Add a new campground</a>

    <% camps.forEach(function(camp) { %>
        <div class="card col">
            <h2 class="center"><%= camp.name %></h2>
            <img src="<%= camp.image %>" alt="<%= camp.name %>">
            <form action="/campgrounds/<%= camp._id %>"> 
                <button class="form">See details</button>
            </form>
        </div>
    <% }); %> 
</div>

<%- include("partials/footer") %> 